<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Simple Partical System</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <!-- Vue UI -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- Element UI Lib -->
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <!-- Spector -->
  <!-- <script type="text/javascript" src="https://spectorcdn.babylonjs.com/spector.bundle.js"></script> -->

  <!-- Webgl Debug  -->
  <!-- <script src="/js/lib/webgl-debug-tool/webgl_debug.js"></script> -->
</head>

<body>
  <div id="vue-ui">
    <el-container class="main-container">
      <el-aside id="input-aside" width="300px">
        <div class="input-container">
          <div class="input-container-item">
            Particle Count:
            <el-slider v-model="ps.count" :min="0" :max="10000" :step="1" input-size="mini" show-input>
            </el-slider>
          </div>
          <div class="input-container-item">
            Explosiveness:
            <el-slider v-model="ps.explosive" :min="0" :max="1" :step="0.01" input-size="mini" show-input>
            </el-slider>
          </div>
          <div class="input-container-item">
            Life (seconds):
            <el-slider v-model="ps.life" :min="0" :max="60" :step="0.1" input-size="mini" show-input>
            </el-slider>
          </div>
          <div class="input-container-item">
            Life Randomness:
            <el-slider v-model="ps.lifeRandomness" :min="0" :max="1" :step="0.01" input-size="mini" show-input>
            </el-slider>
          </div>
          <div class="input-container-item">
            Emission Shape:
            <el-collapse>
              <el-collapse-item>
                <template slot="title">
                  <el-select v-model="ps.emitShape.value" placeholder="Choose the emission shape.">
                    <el-option
                      v-for="item in ps.emitShape.options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </template>

                <!-- Point -->
                <div v-if="ps.emitShape.value===0" class="input-container">
                  Nothing.
                </div>

                <!-- Sphere -->
                <div v-if="ps.emitShape.value===1" class="input-container">
                  <div class="input-container-item">
                    Radius:
                    <el-slider v-model="ps.emitShape.sphere" :min="0" :max="10" :step="0.1" input-size="mini" range>
                    </el-slider>
                  </div>
                </div>

                <!-- Box -->
                <div v-if="ps.emitShape.value===2" class="input-container">
                  <div class="input-container-item">
                    Width:
                    <el-slider v-model="ps.emitShape.box.w" :min="0" :max="10" :step="0.1" input-size="mini">
                    </el-slider>
                  </div>
                  <div class="input-container-item">
                    height:
                    <el-slider v-model="ps.emitShape.box.h" :min="0" :max="10" :step="0.1" input-size="mini">
                    </el-slider>
                  </div>
                  <div class="input-container-item">
                    Length:
                    <el-slider v-model="ps.emitShape.box.l" :min="0" :max="10" :step="0.1" input-size="mini">
                    </el-slider>
                  </div>
                </div>

                <!-- Cylinder -->
                <div v-if="ps.emitShape.value===3" class="input-container">
                  <div class="input-container-item">
                    Radius:
                    <el-slider v-model="ps.emitShape.cylinder.r" :min="0" :max="10" :step="0.1" input-size="mini" range>
                    </el-slider>
                  </div>
                  <div class="input-container-item">
                    height:
                    <el-slider v-model="ps.emitShape.cylinder.h" :min="0" :max="10" :step="0.1" input-size="mini">
                    </el-slider>
                  </div>
                </div>

              </el-collapse-item>
            </el-collapse>
          </div>
          <div class="input-container-item">
            Direction:
            <vector-3-editor v-model="ps.direction">
            </vector-3-editor>
          </div>
          <div class="input-container-item">
            Directional Spread:
            <el-slider v-model="ps.spread" :min="0" :max="180" :step="0.1" input-size="mini" show-input>
            </el-slider>
          </div>
          <div class="input-container-item">
            Gravity:
            <vector-3-editor v-model="ps.gravity">
            </vector-3-editor>
          </div>
          <div class="input-container-item">
            Angle:
            <el-slider v-model="ps.angle" :min="0" :max="360" :step="0.1" input-size="mini" range>
            </el-slider>
          </div>
          <div class="input-container-item">
            Scale: <el-switch v-model="ps.scaleVariantFunction.enable"></el-switch>
            <el-slider v-model="ps.scale" :min="0" :max="10" :step="0.1" input-size="mini" range>
            </el-slider>
            <variant-function-editor v-if="ps.scaleVariantFunction.enable" v-model="ps.scaleVariantFunction"></variant-function-editor>
          </div>
          <div class="input-container-item">
            Color: <el-switch v-model="ps.colorVariantFunction.enable"></el-switch>
            <color-editor v-model="ps.color"></color-editor>
            <variant-function-editor v-if="ps.colorVariantFunction.enable" v-model="ps.colorVariantFunction"></variant-function-editor>
          </div>
          <div class="input-container-item">
            Damping: <el-switch v-model="ps.dampingVariantFunction.enable"></el-switch>
            <el-slider v-model="ps.damping" :min="-2" :max="2" :step="0.01" input-size="mini" range>
            </el-slider>
            <variant-function-editor v-if="ps.dampingVariantFunction.enable" v-model="ps.dampingVariantFunction"></variant-function-editor>
          </div>
          <div class="input-container-item">
            Linear Velocity:
            <el-slider v-model="ps.linearVelocity" :min="-100" :max="100" :step="0.1" input-size="mini" range>
            </el-slider>
          </div>
          <div class="input-container-item">
            Angular Velocity: <el-switch v-model="ps.angularVelocityVariantFunction.enable"></el-switch>
            <el-slider v-model="ps.angularVelocity" :min="-180" :max="180" :step="0.1" input-size="mini" range>
            </el-slider>
            <variant-function-editor v-if="ps.angularVelocityVariantFunction.enable" v-model="ps.angularVelocityVariantFunction"></variant-function-editor>
          </div>
          <div class="input-container-item">
            Linear Acceleration: <el-switch v-model="ps.linearAccelerationVariantFunction.enable"></el-switch>
            <el-slider v-model="ps.linearAcceleration" :min="-100" :max="100" :step="0.1" input-size="mini" range>
            </el-slider>
            <variant-function-editor v-if="ps.linearAccelerationVariantFunction.enable" v-model="ps.linearAccelerationVariantFunction"></variant-function-editor>
          </div>
          <div class="input-container-item">
            Radial Acceleration: <el-switch v-model="ps.radialAccelerationVariantFunction.enable"></el-switch>
            <el-slider v-model="ps.radialAcceleration" :min="-100" :max="100" :step="0.1" input-size="mini" range>
            </el-slider>
            <variant-function-editor v-if="ps.radialAccelerationVariantFunction.enable" v-model="ps.radialAccelerationVariantFunction"></variant-function-editor>
          </div>
          <div class="input-container-item">
            Tangential Acceleration: <el-switch v-model="ps.tangentialAccelerationVariantFunction.enable"></el-switch>
            <el-slider v-model="ps.tangentialAcceleration" :min="-100" :max="100" :step="0.1" input-size="mini" range>
            </el-slider>
            <variant-function-editor v-if="ps.tangentialAccelerationVariantFunction.enable" v-model="ps.tangentialAccelerationVariantFunction"></variant-function-editor>
          </div>
          <div class="input-container-item">
            Orbital Velocity: <el-switch v-model="ps.orbitalVelocityVariantFunction.enable"></el-switch>
            <el-slider v-model="ps.orbitalVelocity" :min="-100" :max="100" :step="0.1" input-size="mini" range>
            </el-slider>
            <variant-function-editor v-if="ps.orbitalVelocityVariantFunction.enable" v-model="ps.orbitalVelocityVariantFunction"></variant-function-editor>
          </div>
        </div>
      </el-aside>
      <el-main>
        <div>FPS: {{ fps }} <br> {{ msg }}</div>
        <div class="viewer-container">
          <!-- <canvas id="viewer" width="1280" height="800" tabindex="-1"></canvas> -->
          <canvas id="viewer" tabindex="-1"></canvas>
        </div>
        <div v-html="particaleSystemMessage"></div>
      </el-main>
    </el-container>
  </div>

  <script src="bundle.js"></script>
</body>

</html>